@charset "utf-8";
/*CSS DOCUMENT*/

* {margin:0; padding:0;}
html, body {margin:0; padding:0;}


/* ===============
	Helper Class
 ============== */
.clr {clear:both; float:none;}
.fl {float:left;}
.fr {float:right;}
.error {border:1px solid #ff0000;}
.error-msg {color:#ff0000;}